.header {
    @include flex-3in1($justify-content: flex-start);
    height: 60px;
    border-bottom: 1px solid $header-border-color;


    @media screen and (min-width: $tablet) {
        & {
            height: 80px;
        }

        &>.container {
            @include flex-3in1($justify-content: flex-start);
        }

        &__navigation {
            @include flex-3in1($justify-content: flex-start);        
        }
    }
    
    @media screen and (min-width: $desktop) {
        &__contacts {
            @include flex-3in1;
        }
    }
}

