.navigation__logo {
    display: inline-block;
    margin-right: 93px;
    color: $title-color;
}

.navigation__list {
    @extend %header-list;
}

.navigation__item:not(:last-child) {
    margin-right: 50px;
}

.navigation__link {
    @extend %header-link;
    position: relative;
    color: $title-color;

    &:hover,
    &:focus,
    &--current {
        color: $accent-color;
    }

    &::after {
        position: absolute;
        bottom: 0;
        right: 0;
        content: '';
        display: inline-flex;
        @include side-sizes (100%, 4px);        
        background-color: $accent-color;
        border-radius: 2px;
        transform: scale(0);
        opacity: 0;
        transition: transform $animation,
            opacity $animation;
    }

    &--current::after,
    &:hover::after,
    &:focus::after {
        transform: scale(1);
        opacity: 1;
    }
}