@mixin container($max-width, $padding-left, $padding-right) {
    max-width: $max-width;
    margin: 0 auto;
    padding-left: $padding-left;
    padding-right: $padding-right;
}

@mixin section ($padding-top: 94px, $padding-bottom: 94px) {
    padding: $padding-top 0 $padding-bottom;
}

@mixin flex-3in1 ($display: flex, $align-items: center, $justify-content: center) {
    display: $display;
    align-items: $align-items;
    justify-content: $justify-content;
}

@mixin flex-gap ($display: flex, $justify-content: center, $gap: 30px) {
    display: $display;    
    justify-content: $justify-content;    
    gap: $gap;
}

@mixin side-sizes ($width, $height) {
    width: $width;
    height: $height;
}