// fonts
$main-font: 'Roboto', sans-serif;
$secondary-font: 'Raleway', sans-serif;

// bg-color
$main-bg-color: #fff;
$secondary-bg-color: #2f303a;
$third-bg-color: #f5f4fa;
$backdrop-bg-color: rgba(0, 0, 0, 0.2);
$projects-overlay-bg-color: rgba(33, 150, 243, 0.9);

// text-color
$title-color: #212121;
$main-text-color: #757575;
$accent-color: #2196f3;
$accent-btn-color: #188ce8;
$fill-color: #afb1b8;
$footer-contacts-color: rgba(255, 255, 255, 0.6);

// other color
$header-border-color: #ececec;
$header-socials-item-color: rgba(33, 33, 33, 0.2);
$footer-socials-bg-color: rgba(255, 255, 255, 0.1);
$project-border-color: #eee;
$job-types-subtitle-bg: rgba(47, 48, 58, 0.8);

// animation
$animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$animation-modal: 250ms ease-in;
// $animation-menu-btn: 250ms ease-in 250ms;