.clients__title {
    @extend %section-title;
}

.clients__list {
    @include flex-gap;

    @media screen and (max-width: $desktop-1px) {
        flex-wrap: wrap;
    }    
}

.clients__link {    
    @media screen and (max-width: $mobile-1px) {
        width: 115px;
    }

    @include flex-3in1 ($display: inline-flex);  
    height: 92px;       
    color: $fill-color;
    border: 1px solid $fill-color;
    border-radius: 4px;
    transition: border-color $animation,
        color $animation;

    @media screen and (min-width: $mobile) {
        width: 210px;
    }

    @media screen and (min-width: $tablet) {
        width: 226px;
    }

    @media screen and (min-width: $desktop) {
        width: 170px;
    }

    &:hover,
    &:focus {
        border-color: $accent-color;
        color: $accent-color;
    }
}

.clients__icon {
    @include side-sizes (106px, 60px);    
}