.job-types {
    @media screen and (max-width: $desktop-1px) {
        display: none;
    }
}

.job-types__title {
    @extend %section-title;
}

.job-types__list {
    @include flex-gap;
}

.job-types-thumb {
    position: relative;
}

.job-types__subtitle {
    position: absolute;
    bottom: 0;
    padding-top: 27px;
    padding-bottom: 27px;
    width: 100%;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $main-bg-color;
    background-color: $job-types-subtitle-bg;
}