.form__field {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    &:nth-child(4) {
        margin-bottom: 20px;
    }
}

.form__label {
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: $main-text-color;
}

.form__input {
    @extend %form-border;
    width: 100%;
    padding: 10px 11px 10px 42px;
}

.form__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    @include side-sizes (18px, 18px);    
    transition: fill $animation;

    .form__input:hover ~ &,
    .form__input:focus ~ & {
        fill: $accent-color;
    }
}

.form__textarea {
    @media screen and (min-width: $mobile) {
        height: 120px;
    }

    @extend %form-border;    
    padding: 12px 16px;    

    &::placeholder {
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
    }
}

.form__field-checkbox {
    @include flex-3in1;
    margin-bottom: 30px;
}

.form__label-checkbox {
    @media screen and (max-width: $mobile) {
        max-width: calc(100% - 24px);
    }

    margin-left: 8px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: $main-text-color;

    @media screen and (min-width: $desktop) {
        font-size: 14px;
        line-height: 1.71;
    }
}

.form__input-checkbox {
    appearance: none;
}

.form__checkbox-icon {
    display: inline-flex;
    @include side-sizes (16px, 15px);    
    border: 2px solid $title-color;
    border-radius: 2px;

    .form__input-checkbox:checked + & {
        background-color: $accent-color;
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m3.957 7.752-.069-.066-.069.065-.888.842-.076.072.076.073 3.496 3.334.069.066.069-.066 7.504-7.158.076-.073-.076-.072-.882-.841-.069-.066-.069.066-6.553 6.246-2.539-2.422Z' fill='%23fff' stroke='%23fff' stroke-width='.2'/%3E%3C/svg%3E");
        background-position: center;
        background-origin: border-box;
        border-color: $accent-color;    
    }
}

.form__link {
    color: $accent-color;
    text-decoration: underline;
}

.form__btn {
    @extend %button;
    display: block;
    margin: 0 auto;
    padding: 10px 52px;
}