.backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background:$backdrop-bg-color;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    transition: $animation-modal;

    &-active {
        visibility: visible;
        opacity: 1;
        transition: $animation-modal;
    }
}

.modal {
    position: absolute;
    top: -1000px;
    left: 50%;
    width: 450px;
    padding: 40px;
    background-color: $main-bg-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transform: translate(-50%, 0);
    transition: $animation-modal;

    @media screen and (min-width: $desktop) {
        width: 528px;
    }

    &-active {
        visibility: visible;
        opacity: 1;
        pointer-events: initial;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: $animation-modal;
    }
}

.modal__title {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: $title-color;
}

.modal__close {
    position: absolute;
    top: 8px;
    right: 8px;
    @include flex-3in1 ($display: inline-flex);
    @include side-sizes (30px, 30px);        
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: $animation;

    &:hover,
    &:focus {
        transform: rotate(360deg);
    }

    
}

.modal__close-icon {
    @include side-sizes (18px, 18px);    
    transition: fill $animation;

    .modal__close:hover &,
    .modal__close:focus & {
        fill: $accent-color;
    }
}

